<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body>
    <h1></h1>
    <div class="container">
        <h2>Add</h2>
        <form action="/pets" method="POST">
            <input 
                type ="text"
                placeholder =" add name"
                name = "name"
            >
            <input 
                type ="text"
                placeholder =" add description"
                name = "description"
            >
            <button class=" btn btn-success">  add</button>
        </form>
    </div>
</body>
</html>