<%- include("./partials/head")  %>     
    <div class="container my-4">
        <h2>add a new animal</h2>
        <form action="/pets" method="POST">
            <input 
                type ="text"
                placeholder =" add name"
                name = "name"
                minlength="3"
                required
            >
            <input 
                type ="text"
                placeholder =" add description"
                name = "description"
                minlength="3"
                required
            >
            <button class=" btn btn-success">  add</button>
        </form>
        <div class=" text-center my-4">
            <a href="/">Back Home </a>    
        </div>
    </div>
    
<%- include("./partials/footer")  %> 